@model List<Library_Managment_System.View_Model.UserWithRoleViewModel>

@{
    ViewData["Title"] = "UsersWithRoles";
}

<h1>UsersWithRoles</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.RoleName</td>

                <td>
                    <form asp-action="DeleteUser" method="post" onsubmit="return confirm('Are you sure?');">
						@Html.AntiForgeryToken()
                        <input type="hidden" name="UserId" value="@user.UserId" />
                       
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                     @* <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@user.UserId">Delete</a>  *@
                    </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
